export TABLEGLASS_POSTGRES_HOST=localhost
export TABLEGLASS_POSTGRES_PORT=5432
export TABLEGLASS_POSTGRES_USER=postgres
export TABLEGLASS_POSTGRES_DB=postgres
export TABLEGLASS_POSTGRES_SCHEMA=public
export TABLEGLASS_POSTGRES_PASSWORD_ID=none
